section,
main {
  scroll-margin-top: 100px;
}

.fuente-1 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: bold;
  /* font-size: 1.5em; */
  /* color: #333; */
}

.timeline {
  border-left: 2px solid #333;
}
.timeline-list {
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-icon {
  position: absolute;
  left: -53px;
  background-color: hsl(217, 88.2%, 90%);
  border: 1px solid #333;
  color: #333;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-skill {
  border-radius: 20px;
  border-width: 1px;
  border-color: rgb(15 23 42 /1);
  height: 450px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem; /* Espacio entre los elementos */
  margin-top: 20px;
}
.ul-grid {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-item {
  border-radius: 1rem; /* Bordes redondeados */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-weight: bold;
}

.img-skill {
  width: 3rem;
  height: 3rem;
}
.text-skill {
  font-size: clamp(0.8rem, 2vw, 1rem);
}
main {
  /* height: calc(100vh - 3rem); */
  /* margin-top: 3rem; */
}

section {
  /* height: 100vh;
  max-height: auto; */
}
