nav {
  border-bottom: 1px solid rgb(250, 250, 250, 0.5);
}
section,
main {
  scroll-margin-top: 80px;
}
.active {
  border-bottom: 5px solid #0fd8b8;
  width: 30%;
}

.timeline {
  border-left: 2px solid #fff;
}
.timeline-list {
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}
.texto-work {
  max-width: 50%;
}

.timeline .timeline-icon {
  position: absolute;
  left: -46px;
  background-color: #12f7d6;
  border: 1px solid #fff;
  color: #333;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-proyectos {
  background-color: #43454d;
  color: white;
  border-radius: 15px;
  border-color: #fff;
}

.card-img-top {
  border-radius: 10%;
  width: 289px;
  height: 250px;
}

.card-skill {
  background-color: #43454d;
  border-color: #fff;
  border-radius: 20px;
  border-width: 1px;
  height: 450px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  margin-top: 20px;
}
.ul-grid {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-item {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  background-color: #fff;
}

.img-skill {
  width: 3rem;
  height: 3rem;
}
.text-skill {
  color: #1a1e23;
  font-size: clamp(0.8rem, 2vw, 1rem);
}
.sobre-mi {
  z-index: 10;
}

/* Estilos personalizados para el modal */
.custom-modal .modal-content {
  font-family: "Ubuntu", sans-serif;
  background-color: #1f1f1f;
  border: 1px solid #fff;
  color: #fff;
}

.custom-modal .modal-title {
  color: #12f7d6;
}

.custom-modal .modal-body {
  background-color: #292f36; /* Color de fondo del cuerpo del modal */
}

/* Cambiar el color del botón de cerrar (X) */
.custom-modal .btn-close {
  filter: invert(1);
}

footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
